.contain1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-heading {
    margin-top: 50px;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f79622;
    font-weight: 500;
    text-align: center;
  }
  
  .dialog {
    position: relative;
    width: 854px;
    height: 480px;
    margin-top: 20px;
    overflow: hidden;
    /* border: 2px solid #EEEEEE; */
    border: 2px solid #00d5ff;
  }
  
  .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .photo.active {
    opacity: 1;
  }
  
  .photo.left {
    transform: translateX(-100%);
  }
  
  .photo.right {
    transform: translateX(100%);
  }

  @media screen and (max-width:1000px) {
    .dialog {
        position: relative;
        width: 640px;
        height: 360px;
        margin-top: 20px;
        overflow: hidden;
        /* border: 2px solid #EEEEEE; */
        border: 2px solid #00d5ff;
      }
  }

  @media screen and (max-width:700px) {
    .dialog {
        position: relative;
        width: 360px;
        height: 230px;
        margin-top: 20px;
        overflow: hidden;
        /* border: 2px solid #EEEEEE; */
        border: 2px solid #00d5ff;
      }
  }