.rules{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.rules-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 500px;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
}